body {
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"] {
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}
button {
    background-color: brown;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
}
#results {
    background-color: rgb(231, 157, 18);
    padding: 20px 20px;
    color: black;
    border-color: black;
    border-style: ridge;
    

}
#container {
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: lightslategray;
    border-style: solid;
    border-width: 10px;
    box-sizing: border-box;
}